body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header {
  background-color: mediumturquoise;
  color: white;
  padding: 10px 20px;
}

#header a {
  text-decoration: none;
  color: white;
}

.subheader {
  background-color: mediumturquoise;
  color: white;
  padding: 0 20px 10px 20px;
}

.subheader select {
  width: auto;
  height: 30px;
  display: inline-block;
  margin: 0 5px;
}

a.top-nav {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

button, a.btn {
  padding: 10px 15px;;
  font-size: .8em;
  background-color: purple;
  border: 1px solid purple;
  margin: 0 5px 0 0;
  color: white;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

button:hover, a.btn:hover {
  background-color: white;
  color: purple;
}

section {
  width: 80%;
  margin: 10px auto;
  padding: 10px 0 30px 0;
}

#posts {
  margin: 0;
  padding: 0;
}

#posts li {
  list-style: none;
  margin: 20px 30px 0 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 320px;
  background-color: #FEFEFE;
  box-shadow: 3px 3px 10px 0px #999;
}

.post-header {
  border-top: solid 5px mediumturquoise;
  padding: 10px 20px;
  min-height: 56px;
}

.post-content {
  padding: 10px 20px;
  position: relative;
}

.post-category {
  display: inline-block;
  padding: 10px;
}

.post-vote {
  margin: 0;
  padding: 10px 20px;
  background-color: mediumturquoise;
  color: white;
}

.post-vote button {
  background-color: purple;
  color: white;
}

.post-vote button:hover {
  background-color: white;
  color: purple;
}

.post-title {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.post-title h1 {
  margin: 0;
  padding: 0;
}

.post-author {

}

.post-time {
  font-size: 12px;
  color: #AAA;
  padding: 5px 0 0 0;
}

.post-admin {
  padding: 10px;
}

.post-metadata {
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
  position: relative;
  border-left: solid 5px purple;
}

.post-sort-by {
  display: inline-block;
}

.post-sort-by button:first-child {
  margin-left: 5px;
}

.post-close {
  color: purple;
  float: right;
  padding: 0;
  margin: 0 0 20px 0;
}

input[type="text"], textarea, select {
  font-size: 1em;
  padding: 10px;
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  border: solid 1px #DDD;
  border-radius: 5px;
  background-color: white;
}

select {
  height: 40px;
}

.icon-btn {
  background: none;
  border: none;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.modal-details {
  padding: 0 20px 0 0;
}

.modal-title {
  float: left;
  margin: 5px 0 0 0;
}

.modal-form {
  clear: both;
}
